<!doctype html>
<html lang='en' data-version='{{timestamp}}'>

<head>

	{{> base/meta}}

	<link inline rel='stylesheet' href='bundle.css' />

	{{> base/font}}


	<script inline src='head.js'></script>

	{{> base/analytics }}

</head>

<body>
    
	{{> base/header 'sticky'}}

	<main id='content'>
        
		{{> story/intro }}
        {{> story/timeline}}
		{{!-- delete guide and put your html here --}}
		{{!-- {{> base/guide }} --}}

	</main>

	{{> base/footer }}


	<script src='{{basepath}}assets/scripts/d3.v4.12.0+jetpack.min.js'></script>
	<script src='main.js?version={{timestamp}}' async></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/d3-annotation/2.3.2/d3-annotation.min.js'></script>
    {{!-- <script src="bboxCollide.js"></script> --}}
</body>

</html>