/* CUSTOM STORY STYLE */

html 
    background-color: #404153
#content
    background-color #404153

.timeline-intro
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: 1000;    
    background: #404153
    color #fff


.timeline-svg-box
    display: flex
    flex-direction: row
    justify-content: center

// .timeline-svg
    // display none

.tooltip
    position: absolute
    pointer-events: none
    background-color: #313240
    color white
    padding 0 1em
    font-family: $sans
    p
        font-size 14px

.sci-title
    text-transform: uppercase
    

// .sci-author

.hidden
    display none

.month
    fill #FE5444
    opacity 0.2
    stroke #FE5444

.tick
    pointer-events: none
    text-anchor: end
    line
        opacity 0

.timeline-axis
    .domain
        visibility: hidden

.paper
    fill #E17D7F

.article
    fill #559DB9

.annotation-note-label
    fill #FFF

circle
    stroke #000
    cursor pointer
