/* CUSTOM STORY STYLE */

html
    background-color: $off-black
    //scroll-behavior smooth
#content
    background-color $off-black

.timeline-box
  padding 1rem 1rem 5rem 1rem

.timeline-intro
    position: absolute;
    width: 100%;
    height: 95vh;
    z-index: 1000;
    background-image url('assets/images/docs.jpg')
    background-repeat repeat-x
    background-size auto 100%
    background-position center
    color #fff
    transform translateX(0)
    transform translateY(0)
    transition transform 200ms ease-in-out

    &.slide
      transform translateY(-150%)


.timeline-svg-box
    display: flex
    flex-direction: row
    justify-content: center

    .arrow-up-svg
      position fixed
      padding 1rem 0
      width 100%
      height 5.5rem
      background-color rgba($black, 0.4)
      display flex

      p
        margin 0
        font-family $sans
        set-type-size('x-small', true)
        text-transform uppercase
        color $off-white
        font-weight 700

      .button-circle
        background-color transparent
        border 2px solid $off-white
        width 2rem
        height 2rem
        margin-top 1.5rem

        &:hover
          background-color rgba($white, 0.2)

        svg
          stroke-width 2px
          stroke $off-white

// .timeline-svg
    // display none

.tooltip
    position: absolute
    pointer-events: none
    background-color: $white
    box-shadow 0px 4px 4px rgba(0, 0, 0, 0.25)
    color $off-black
    padding 0 1em
    font-family: $sans
    p
        font-size 14px

.sci-title
    text-transform: uppercase
    font-weight 700


// .sci-author

.hidden
    display none

.month
    fill #FE5444
    opacity 0.2
    stroke #FE5444

.tick
    pointer-events: none
    text-anchor: end
    line
        opacity 0

.timeline-axis
    .domain
        visibility: hidden

.paper
    fill $red

.article
    fill $teal

.faded
  opacity 0.3

.highlight
  opacity 1
  stroke $white
  stroke-width 2px



.annotation-note-label
    fill #FFF
    font-size 12px
    +mq('bp-3')
        set-type-size('root', true)

// .annotation-note-title
//   font-family $sans
//   set-type-size('large', true)

circle
    stroke #000
    cursor pointer


.scroll-hint
  position fixed
  display flex
  bottom 0.5rem
  right 1rem
  visibility hidden
  &.is-visible
    visibility visible

  p
    color $red
    font-family $national
    margin 0.5rem 0
    set-type-size('small', true)
    font-weight 700
    text-transform uppercase

  svg
    stroke $red
    stroke-width 2px
    margin 0.5rem 0 0 0.15rem
    animation bounceUp 1s infinite
    position relative
    bottom 0

@keyframes bounceUp {
  0%       { bottom:1px; }
  25%, 75% { bottom:2px; }
  50%      { bottom:3px; }
  100%     { bottom:0; }
}

.conclusion 
    padding 0 2em
    margin 5rem auto 0 auto
    max-width 60rem
    color #FFF
    a
        color #FFF
        border-bottom: 1px solid #FFF        

.method    
    margin 0 auto
    max-width 50rem
    color #FFF
    font-family $sans
    text-decoration-color #FFF
    padding 2rem 
    a
        color #FFF
        border-bottom: 1px solid #FFF        
        
    p
        font-size 14px
        
    .method-title
        font-weight 800
        


.tooltip-close
    left 5%
    top 5%
    right auto
    bottom auto