<div class='arrow-intro-text-up arrow-navbar hidden'>
    <div class='pulse-circle'></div>
    <div class='button-circle'>
    <img inline src='arrow-right.svg'>
    </div>
</div>
<div class='arrow-intro-text-down hidden'>
    <div class='pulse-circle'></div>
    <div class='button-circle'>
    <img inline src='arrow-right.svg'>
    </div>
</div>