<div class='timeline-box'>
    <div class='timeline-svg-box'>    
        <div class='arrow-up-svg'>
                <div class='pulse-circle'></div>
                <div class='button-circle'>
                <img inline src='arrow-right.svg'>
            </div>
        </div>
        <div class='tooltip hidden'></div>
        <svg class='timeline-svg'></svg>        
    </div>
</div>